body{
background-size: cover;
}
.heading{
    color: white;
    font-size: large;
    
}
center{
box-shadow: blue;
padding: 5px blue;
margin: blue;
}
.project-L{
box-shadow: 30px #fffbc9 ;
padding: auto #fffbc9;
margin: 90px #fffbc9;
border: #fffbc9;

}